@font-face {
  font-family: "vercetti";
  src: url("./assets/fonts/Vercetti-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --dark: rgb(34, 34, 34);
  --bg-gray: #dddddd;
  --dark-opacity: rgba(34, 34, 34, 0.39);
  --gallery: #000000;

  --text-gray: #e6e6e6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

li {
  font-family:
    vercetti,
    -apple-system,
    sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family:
    vercetti,
    -apple-system,
    sans-serif;
}

h2,
h3,
p {
  font-family: vercetti;
  font-weight: lighter;
}
